<header>
    <h2 [ngClass]="{'valid':isValid, 'invalid':!isValid}">BlockChain
    </h2>

    <div>
      {{blockChain.pendingTransactions.length}} Pending Transactions
    </div>
    <nav>
        <button class="btn btn-primary" [routerLink]="['send-transaction']">Send Transaction</button>
        <button class="btn btn-primary" [routerLink]="['dashboard']">Dashboard</button>
        <button class="btn btn-primary" tooltip="Mine new block" (click)="onMine()">Mine</button>
    </nav>
</header>
<main>
    <router-outlet></router-outlet>
</main>
 <pre>
    {{blockChain | json}}
 </pre>
